
.App {
  position:relative;
 
  width:100%;
  height:auto;
}
@media  screen and (min-width:1024px) {
  .navbar
{
  position:fixed;
  width:100%;
  height:13vh;
  background-color: white;
  z-index: 1;
  a{
    position:relative;
    width:4%;
    left:9%;
    height:4vh;
    img{
      position:relative;
      top:-130%;
      left:-50%;
      width:85%;
    }
    p{
      position:relative;
      left:-230%;
     
      font-size: 15px;
      word-spacing: -3px;
      font-style:italic ;
      top:-100%;
      font-family:cursive;
      color:rgb(91, 91, 91);
    }
  }
  .collapse
  {
    position:relative;
    width:100%;
    .navbar-nav
    {
      position:Relative;
      width:100%;
      margin-left: 30%;
      font-size: 25px;
      font-family: 'Courier New', Courier, monospace;
   li{
    margin-left: 10%;
    color:rgb(52, 51, 51);
   };
    }
    
  }
}
.Home-container{
  position:relative;
  top:160px;
  width:100%;
  height:auto;
  .img{
    position:relative;
    width:100%;
    height:67vh;
    img{
      position:relative;
      width:100%;
      height:100%;
    }
  }
  .infoo
  {
    position:relative;
    margin-left:25%;
    width:50%;
    top:-200px;
    text-align: center;
    height:auto;
    background:white;
    h1{
     font-size: 70px;
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
    }
    p{
      position:relative;
      top:30px;
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
      animation-name: example;
      animation-duration: 4s;
      animation-delay: -2s;
    }
   button{
    position:relative;
    top:40px;
    width:35%;
    left:0%;
    height:8vh;
    background:transparent;
    border:2px solid black;
    margin-bottom: 20px;
   }

  }

}
.porductcontainer
{
  position:relative;
  width:100%;
  top:-150px;
  height:auto;
  background:rgb(238, 237, 237);
  h1{
    position:relative;
    top:50px;
    margin-left:43%;
    color:black;
    font-family: 'Courier New', Courier, monospace;
  }
  .product{
    position: relative;
    width:80%;
    left:10%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    .product-card
    {
      position:relative;
      width:30%;
      margin-left: 35px;
      margin-top: 10%;
      height:35vh;
      .productinfo
      {
        position:absolute;
        width:100%;
        height:100%; 
        top:-10%;
        color:white;
        border:3px solid black;
        opacity: 0;
        h2{
          position:relative;
          top:25%;
         text-align: center;
          font-family: 'Courier New', Courier, monospace;
        }
        
      } 
      .productinfo:hover{
        opacity: 1;
        transition: 1s ease-in-out;
        background:rgb(46, 46, 46);
      } 
     
      .porduct-img
      {
        position:relative;
        width:100%;
        height:100%;
        bottom: 10%;;
        img{
          position: relative;
          width:100%;
          height:100%;
        } 
      }
    }
 
  }
}
.footercontainer
  {
    position:sticky;
    top:100%;
    width:100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 2000;
    height:22vh;
    color:white;
    background: rgb(74, 74, 74);
    bottom: 0%;
    left:0;
    right:0;
  }
  .contact_container
  {
    position:relative;
    top:180px;
   width:100%;
   height:160vh;
   .contactinnercontainer
   {
    position:relative;
    width:100%;
    height:auto; 
    .informationtable
    {
      position:relative;
      margin-top:100px;
      width:100%;
      height:60vh;
      display:flex;
    
      .forminfo
      {
        position:relative;
        top:100px;
        left:10%;
        width: 35%;
        p{
          position:relative;
          font-family: 'Courier New', Courier, monospace;
          font-size: 25px;
          left:10%;
        }
      }
      .form
      {
        position:relative;
        width:50%;
        margin-left:30%;
        input{
          width:90%;
          margin-top: 20px;
          border:2px solid black;
        }
        .inemail
        {
          position:relative;
          height:7vh;
        }
        .quest
        {
          position:relative;
          height:20vh;
          
        }
        button{
          position:relative;
          top:20px;
          width:30%;
          height:7vh;
          background:transparent;
        }
      }
    }
    .contact-info
    {
      position:relative;
      width:100%;
      height:auto;
      display:flex;
      .contact-details
      {
        position:relative;
        width:40%;
        height:auto;
        h1{
          position:relative;
          margin-top: 13%;
          font-size: 80px;
          left:20%;
          color:rgb(48, 48, 48);
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }
        p{
          position:relative;
          margin-top:50px;
          left:20%;
          font-family: 'Courier New', Courier, monospace;
          font-size: 20px;
          h3{
            position:relative;
            font-size: 35px;
          }
        }
      }
      .contactlocation
      {
        position:relative;
        width:50%;
        height:auto;
        .img{
          position:relative;
          width:100%;
          height:50vh;
          h3{
            position:relative;
            margin-left:50%;
            top:10%;
            font-family: 'Courier New', Courier, monospace;
          }
          img{
            position: relative;
            left:10%;
            top:50px;
            width:100%;
            height:100%;
          }
        }
      }

}
   }

  }
  .protfiliocontainer
  {
    position:relative;
    width:100%;
    height:auto;
    .protfiliosecond
    {
      position:relative;
      top:100px;
      width:100%;
      height:auto;
    .explanationofwork
    {
      position:relative;
      width:100%;
      height:auto;
      .explainworkinfo
      {
        position:relative;
        top:10px;
        width:100%;
        height:auto;
        text-align: center;
        color:rgb(143, 143, 143);
        font-family: 'Courier New', Courier, monospace;
        h1{
          position:relative;
          top:100px;
        }
    
      }
      .workimg
      {
        position:relative;
        width:100%;
        margin-top:200px;
        height:auto;
        display:flex;
        flex-wrap: wrap;
        margin-bottom: 150px;
        .card
        {
          position:relative;
          margin-bottom: 10px;
          margin-left:2.5%;
          width:30%;
          height:45vh;
          img{
            position:relative;
            width:100%;
            height:100%;
          }
        }
      }
    }
    } 
  }
  .aboutcontainer
  {
    position:relative;
    width:100%;
    height:auto;
   .aboutinner
   {
    position:relative;
    top:100px;
    width:80%;
    left:10%;
    height:auto;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(82, 81, 81);
    .ceoinfo
    {
      position: relative;
      margin-top:-100px;
      width:100%;
      height: auto;
      .infodet
      {
        position:relative;
        width:124.5%;
        left:-150px;
        height:40vh;
        background:rgb(250, 244, 244);
        bottom:10px;
        display:flex;
        .infodet1
        {
          position:relative;
          width:60%;
          h1{
          position:relative;
          top:60px;
          left:10%;
        }
        }
        .infodet2
        {
          position:relative;
          top:45px;
        }
        
      }
      .moreinfo
      {
        position:relative;
        top:20px;
        left:-100px;
        width:100%;
        height:20vh;
   
        h1{
          position:relative;
          top:20px;
         font-family: Arial, Helvetica, sans-serif;
          font-size: 50px;
        }
      }
     
      .ceoingoinner
      {
        position: relative;
        width:125.5%;
        left:-13%;
        height:65vh;
        display:flex;
        background:rgb(252, 248, 248);
        .environtnment
        {
          position:relative;
          top:70px;
          left:2%;
          width:33%;
          h2{
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          }
        }
        .design
        {
          position: relative;
          width:30%;
          top:70px;
          left:3%;
          h2{
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          }
  
        }
        .performance
        {
          position:relative;
          width:33%;
          top:70px;
          left:4%;
          h2{
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          }
        }
      }
    }
   
    .companyinfo
    {
      position: relative;
      height:100vh;
      font-size: 20px;
      width:100%;
      display:flex;
      .companyinfoinner
      {
        position:relative;
        left:-10%;
        background:white;
        top:200px;
        width:100%;
        height:45vh;
       h1{
        position: relative;
        left:0%;
        font-size: 60px;
       }

      }
      .companyimg
    {
      position:relative;
      top:0%;
      width: 80%;
      height:65vh;
      img{
        position:relative;
        width:100%;
        height: 100%;
        left:2%;
        top:80px;
      }
    }
    
    }
    
    
   }
  }
}
@media screen and (max-width:767px){
  .navbar
  {
    position:relative;
    width:100%;
    height:auto;
    background-color: rgb(99, 97, 97);
    color:white;
    z-index:1;
    .navbar-brand
    {
      position:relative;
     border-radius: 30%;
      width:10%;
      height:5vh;
      color:white;
      img{
        position:relative;
        width:100%;
        height:100%;
        top:-3px;
        border-radius: 35%;
      }
      p{
        display:none
      }
    }
    
}
.Home-container
{
  position:relative;
  top:2px;
  width:100%;
  height:auto;
  .infoo{
    position:relative;
    
    width:100%;
    height:70vh;
    background:rgb(238, 236, 236);
    text-align: center;
    h1{
      position:relative;
      top:10px;
      color:rgb(59, 59, 59);
      font-family:'Courier New', Courier, monospace}
    p{
      position:relative;
      top:30px;
      font-family: 'Courier New', Courier, monospace;
    }
    button{
      position:relative;
      top:30px;
      width:30%;
      height:5vh;
      border:2px solid black;
    }
  }
  
  .img{
    position:relative;
    width:100%;
    height:60vh;
    img{
      position:relative;
      width:100%;
      height:100%;
     
    }
  }
  .porductcontainer
  {
    position:relative;
    width:100%;
   
    height:auto;
    h1{
      position:relative;
      text-align: center;
      top:20px;
      font-family: 'Courier New', Courier, monospace;
    }
    .product
    {
      position:relative;
      width:100%;
      height:auto;
      .product-card
      {
        position:relative;
        width:80%;
        height:50vh;
        left:10%;
        margin-top:50px;
        z-index: 1;
        .porduct-img
        {
          position:relative;
          width:100%;
          height:100%;
          img{
          position:relative;
          top:10px;
          width:100%;
          height:100%;
          border-radius: 10px;
         
          
        }
        img:hover{
          animation:  slow 3s 1;

        }

        }
        .productinfo{
          position:relative;
         display:none;
        }
        
        
      }

    }
  }
}
.footercontainer
{
  position:relative;
  top:150px;
  width:100%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 2000;
  height:25vh;
  color:white;
  background: rgb(74, 74, 74);
  bottom: 0;
  left:0;
  right:0;
  h3{
    position:relative;
    font-size: 20px;
  }
  p{
    
    position:relative;
    top:10px;
    font-size: 15px;
    bottom: 4px;;
  }
}
}